/* resets */
body { margin:0px; padding:0px; }

/* main */
header {
    height: 360px;
    z-index: 10;
}
.header-banner {
    background-color: #333;
    background-image: url('https://37.media.tumblr.com/8b4969985e84b2aa1ac8d3449475f1af/tumblr_n3iftvUesn1snvqtdo1_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:  5% 0;
    padding-top: 20px;
    width: 100%;
    height: 300px;
}

header h1 {
    background-color: rgba(18,72,120, 0.8);
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 5rem; 
    left: 2rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

nav {
    width: 100%;
    height: 60px;
    background: #292f36;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 45px 47px -26px rgba(0,0,0,1);
}

nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    padding: 0 2%;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none; 
    color: #a9abae;
}
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&display=swap');

nav ul li a:hover {
    text-decoration: none; 
    color: #a9abae;
}
/* demo content */
body { 
    color: #292f36;
    font-family: 'Varela', sans-serif;
    line-height: 1.6;
}
.content{ 
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 100%;
    
}
.contenedor-todo{
    display: flex;  
}
.images{
    display: flex;
}
.h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
}
.images img{
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.images img:hover{
    opacity: 70%;
}
.caja{
    margin: 0 auto;
    height: 25%;
    
}


.colors:hover{
    background: #fff;
    color: rgba(18,72,120, 0.8);
}
.caja:nth-child(1) img{
    width: 400px;
    height: 300px;
}
.colors:nth-child(2):hover a{
    color: hsla(0, 74%, 27%, 0.8);
    font-weight: 600;
}
.colors:hover a{
    color: hsla(208, 74%, 27%, 0.8);
    /* font-weight: 600; */
}
.caja{
    width: 450px;
}
.footer{
    background: #292f36;
    color: #FFF;
    text-align: center;
    padding:  1% 0;
    font-size: 1.2rem;
}

@media only screen and (max-width: 960px) {
    .content{ 
        padding: 2rem 0;
        box-sizing: border-box;
    }
    
}
